<div data-role="view" data-title="Account" data-layout="main-nonav" data-model="app.accountView" data-show="app.accountView.onShow" data-after-show="app.accountView.afterShow">
    <div id="accountViewModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>

                    <label>Date
                        <input data-bind="value: accountViewModel.fields.date" type="date">
                    </label>

                </li>
                <li>

                    <label>Points
                        <input data-bind="value: accountViewModel.fields.points" type="number">
                    </label>

                </li>
                <li>
                    <label>Label
                        <select data-bind="value: accountViewModel.fields.dropdownlist" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <li>

                    <label>Username
                        <input data-bind="value: accountViewModel.fields.username1" type="text">
                    </label>

                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: accountViewModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: accountViewModel.submit }">Confirm</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_accountViewModel -->
        <!-- END_CUSTOM_CODE_accountViewModel -->
    </div>
    <!-- START_CUSTOM_CODE_accountView -->
    <!-- END_CUSTOM_CODE_accountView -->
</div>