<div data-role="view" data-title="Visit Us" data-layout="main" data-model="app.contacts" data-show="app.contacts.onShow" data-after-show="app.contacts.afterShow">
    <div class="about-view" data-bind="invisible:error">
        <div class="icon-group">

            <div class="app-icon">
                <img src="resources/muddy-waters-logo2.jpg">
            </div>


            <div class="app-details">
                <h2>Muddy Waters</h2>
                <h4>Telephone : 954-428-6577</h4>
            </div>
        </div>

        <p>The best lobster, fresh seafood and the island vibe. With two separate dining areas, two unique bars, privacy or social interaction and Muddy&#39;s outside covered patio seating. W. HIllsboro Blvd. Deerfield, FL 33442 Food: 11 a.m. – 10 p.m. With
            a bar open till 2 A.M.</p>

        <div class="button-group button-group-vertical">
            <a data-role="button" data-rel="external" href="mailto:muddywaters@on2t.com">Email us</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.contacts.contactsModel.openLink('http://muddywatersrestaurant.com/');">Home Page</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.contacts.contactsModel.openLink('http://muddywatersrestaurant.com/contact-us/');">Directions</a>
        </div>
        <!-- START_CUSTOM_CODE_contactsModel -->
        <!-- END_CUSTOM_CODE_contactsModel -->
    </div>
    <!-- START_CUSTOM_CODE_contacts -->
    <!-- END_CUSTOM_CODE_contacts -->
</div>