<div data-role="view" data-title="Leave a Message" data-layout="main" data-model="app.eventEntry" data-show="app.eventEntry.onShow" data-after-show="app.eventEntry.afterShow">
    <div id="eventEntryModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>

                    <label>Username
                        <input data-bind="value: eventEntryModel.fields.username2" placeholder="{{User}}" type="text">
                    </label>

                </li>
                <li>

                    <label>Username
                        <input data-bind="value: eventEntryModel.fields.username3" placeholder="Enter your message" type="text">
                    </label>

                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: eventEntryModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: eventEntryModel.submit }">Pick Image to Save</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_eventEntryModel -->
        <!-- END_CUSTOM_CODE_eventEntryModel -->
    </div>
    <!-- START_CUSTOM_CODE_eventEntry -->
    <!-- END_CUSTOM_CODE_eventEntry -->
</div>